<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        #error {
            color: red;
        }
    </style>
</head>
<body>
<div>
    <h2>Добавление клиента</h2>
    <div id="error"></div>
    <form method="post">
        <input type="text" required name="firstname" placeholder="Имя">
        <input type="text" required name="lastname" placeholder="Фамилия">
        <input type="text" required name="midname" placeholder="Отчество">
        <button type="submit">Добавить клиента</button>
    </form>
</div>
</body>
</html>