<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        #error {
            color: red;
        }
    </style>
</head>
<body>
<div>
    <h2>Добавление карты</h2>
    <div id="error">{{error}}</div>
    <form method="post">
        <input type="text" required name="number" placeholder="Номер">
        <input type="text" required name="holder" placeholder="Держатель">
        <input type="date" required name="issueDate" placeholder="Дата выдачи">
        <button type="submit">Добавить карту</button>
    </form>
</div>
<hr>
<h2>Список карт</h2>
    {{#cards}}
        <p>
            <b>{{number}}</b>
            <i>{{holder}}</i>
            <span>{{issueDate}}</span>
        </p>
    {{/cards}}
</body>
</html>