<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
    * {
        color: red;
    }
</style>
<body>
<div>
    <h2>Ошибка!</h2>
    <ul>
        <li>Вам нужно ввести в поле карты 16 цифр</li>
        <li>Номер карты не должен повторяться</li>
    </ul>
</div>
</body>
</html>