<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <h2>Привет!</h2>
    <h3>Это сервис для списания денег с карт клиентов</h3>
    <a href="addclient">Добавить клиента</a>
</div>
</body>
</html>