<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <form method="post">
        <input type="text" name="name" placeholder="Имя">
        <button type="submit">Добавить</button>
    </form>
</div>
<div>Список клиентов</div>
    {{#clients}}
        <p>{{name}}</p>
    {{/clients}}
</body>
</html>